.pokedex {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

}

.pokedex-entry {
    width: 150px;
    display: flex;
    flex-direction: column;
    
}

.img-container {
    background-color: lightgray;
}

.img-container {
    border-radius: 0.25rem;

}

.img-container img {
    max-width: 100%;
    max-height: 100%;
}

.type-grass {
    background-color: #4cf436;
   
}

.type-poison {
    background-color: #b97fc9;
    color: white;
    
}

.type-fire {
    background-color: red;
    color: white;
}

.type {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
}

.pokedex-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.type-info {
    display: flex;
    gap: 0.25rem;
    
}