@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

/* Customize scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }




body{
    background-color: #bdb9b8;
    background-repeat: no-repeat;
    background-size: cover;
}




h1 {
    font-family: 'Pokemon Solid', sans-serif;
    text-align: center;
    color: yellow;
    -webkit-text-stroke: 0.125rem rgb(57, 151, 218);
    font-size: 3.75rem;
}

.pokedex {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-left: 10px;

}

.pokedex-entry {
    width: 150px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 0.5s;
    cursor: pointer;
}

.pokedex-entry:hover {
    
    transform: scale(1.1);
    z-index: 2;
    
    
}

.img-container {
    background-color: lightgray;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    max-width: 100%;
    max-height: 100%;
}

.number {
    color: black;
    font-family: "Flexo-Medium",arial,sans-serif;
    font-size: 0.85rem;
}

.name {
    color: black;
    font-family: "Flexo-Medium",arial,sans-serif;

}

.type-grass {
    background-color: #4cf436;
   
}

.type-poison {
    background-color: #b97fc9;
    color: white;
    
}

.type-water {
    background-color: blue;
    color: white;
}

.type-fire {
    background-color: red;
    color: white;
}

.type-bug {
    background-color: #729f3f;
    color: #fff;
}

.type-flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}

.type-normal {
    background-color: #a4acaf;
}

.type-electric {
    background-color: #eed535;
}

.type-ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);;
}

.type-fairy {
    background-color: #fdb9e9;;
}

.type-fighting {
    background-color: #d56723;
}

.type-psychic {
    background-color: #f366b9;
}

.type-rock {
    background-color: #a38c21;
}

.type-ice {
    background-color: #51c4e7;
}

.type-steel {
    background-color: #9eb7b8;
}

.type-ghost {
    background-color: #7b62a3;
}

.type-dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);;
}

.type {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    font-family: "Flexo-Medium",arial,sans-serif;
    color: black;
    
}

.pokedex-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.type-info {
    display: flex;
    gap: 0.25rem;
    
}